<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>niao1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-23}</string>
                <key>spriteSize</key>
                <string>{136,86}</string>
                <key>spriteSourceSize</key>
                <string>{140,150}</string>
                <key>textureRect</key>
                <string>{{133,1},{136,86}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>niao3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,13}</string>
                <key>spriteSize</key>
                <string>{130,108}</string>
                <key>spriteSourceSize</key>
                <string>{140,150}</string>
                <key>textureRect</key>
                <string>{{1,1},{130,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yuan.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,58}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{1,111},{58,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yumao1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,36}</string>
                <key>spriteSourceSize</key>
                <string>{25,36}</string>
                <key>textureRect</key>
                <string>{{84,111},{25,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yumao2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,21}</string>
                <key>spriteSourceSize</key>
                <string>{46,25}</string>
                <key>textureRect</key>
                <string>{{61,111},{46,21}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>niao.png</string>
            <key>size</key>
            <string>{220,170}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:33295c84ea9ed324b18f024fdc233b3a:192354168332f1ba56fb7a95e0d1907b:2c04be9626f6ca54c6dc3cae6537433c$</string>
            <key>textureFileName</key>
            <string>niao.png</string>
        </dict>
    </dict>
</plist>
