<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>alarm1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,190}</string>
                <key>spriteSourceSize</key>
                <string>{190,190}</string>
                <key>textureRect</key>
                <string>{{0,0},{190,190}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>alarm10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,190}</string>
                <key>spriteSourceSize</key>
                <string>{190,190}</string>
                <key>textureRect</key>
                <string>{{190,380},{190,190}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>alarm11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,190}</string>
                <key>spriteSourceSize</key>
                <string>{190,190}</string>
                <key>textureRect</key>
                <string>{{380,380},{190,190}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>alarm12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,190}</string>
                <key>spriteSourceSize</key>
                <string>{190,190}</string>
                <key>textureRect</key>
                <string>{{570,380},{190,190}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>alarm2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,190}</string>
                <key>spriteSourceSize</key>
                <string>{190,190}</string>
                <key>textureRect</key>
                <string>{{190,0},{190,190}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>alarm3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,190}</string>
                <key>spriteSourceSize</key>
                <string>{190,190}</string>
                <key>textureRect</key>
                <string>{{380,0},{190,190}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>alarm4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,190}</string>
                <key>spriteSourceSize</key>
                <string>{190,190}</string>
                <key>textureRect</key>
                <string>{{570,0},{190,190}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>alarm5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,190}</string>
                <key>spriteSourceSize</key>
                <string>{190,190}</string>
                <key>textureRect</key>
                <string>{{0,190},{190,190}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>alarm6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,190}</string>
                <key>spriteSourceSize</key>
                <string>{190,190}</string>
                <key>textureRect</key>
                <string>{{190,190},{190,190}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>alarm7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,190}</string>
                <key>spriteSourceSize</key>
                <string>{190,190}</string>
                <key>textureRect</key>
                <string>{{380,190},{190,190}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>alarm8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,190}</string>
                <key>spriteSourceSize</key>
                <string>{190,190}</string>
                <key>textureRect</key>
                <string>{{570,190},{190,190}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>alarm9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,190}</string>
                <key>spriteSourceSize</key>
                <string>{190,190}</string>
                <key>textureRect</key>
                <string>{{0,380},{190,190}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>baodan.png</string>
            <key>size</key>
            <string>{760,570}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:00b6c6d6c3518b95ace8ecd27fd3c204:db43ca12fc2dacc4f13c1bd98701733b:f3ceb7fd0a485f46f1f809b029a9462f$</string>
            <key>textureFileName</key>
            <string>baodan.png</string>
        </dict>
    </dict>
</plist>
