<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>heitao1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,270}</string>
                <key>spriteSourceSize</key>
                <string>{240,270}</string>
                <key>textureRect</key>
                <string>{{0,0},{240,270}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>heitao10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,270}</string>
                <key>spriteSourceSize</key>
                <string>{240,270}</string>
                <key>textureRect</key>
                <string>{{0,540},{240,270}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>heitao11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,270}</string>
                <key>spriteSourceSize</key>
                <string>{240,270}</string>
                <key>textureRect</key>
                <string>{{240,540},{240,270}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>heitao2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,270}</string>
                <key>spriteSourceSize</key>
                <string>{240,270}</string>
                <key>textureRect</key>
                <string>{{240,0},{240,270}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>heitao3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,270}</string>
                <key>spriteSourceSize</key>
                <string>{240,270}</string>
                <key>textureRect</key>
                <string>{{480,0},{240,270}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>heitao4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,270}</string>
                <key>spriteSourceSize</key>
                <string>{240,270}</string>
                <key>textureRect</key>
                <string>{{720,0},{240,270}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>heitao5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,270}</string>
                <key>spriteSourceSize</key>
                <string>{240,270}</string>
                <key>textureRect</key>
                <string>{{0,270},{240,270}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>heitao6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,270}</string>
                <key>spriteSourceSize</key>
                <string>{240,270}</string>
                <key>textureRect</key>
                <string>{{240,270},{240,270}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>heitao7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,270}</string>
                <key>spriteSourceSize</key>
                <string>{240,270}</string>
                <key>textureRect</key>
                <string>{{480,270},{240,270}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>heitao9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,270}</string>
                <key>spriteSourceSize</key>
                <string>{240,270}</string>
                <key>textureRect</key>
                <string>{{720,270},{240,270}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>heitao.png</string>
            <key>size</key>
            <string>{960,810}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bdd20b2d29be5aa9d2f996ec114fe5ad:a235eb4a54c67a25b3207052fbfb7427:deadf718722ecc734880bd70badbe24a$</string>
            <key>textureFileName</key>
            <string>heitao.png</string>
        </dict>
    </dict>
</plist>
