<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>liandui1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{550,240}</string>
                <key>spriteSourceSize</key>
                <string>{550,240}</string>
                <key>textureRect</key>
                <string>{{0,0},{550,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>liandui10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{550,240}</string>
                <key>spriteSourceSize</key>
                <string>{550,240}</string>
                <key>textureRect</key>
                <string>{{550,480},{550,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>liandui11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{550,240}</string>
                <key>spriteSourceSize</key>
                <string>{550,240}</string>
                <key>textureRect</key>
                <string>{{1100,480},{550,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>liandui12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{550,240}</string>
                <key>spriteSourceSize</key>
                <string>{550,240}</string>
                <key>textureRect</key>
                <string>{{0,720},{550,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>liandui13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{550,240}</string>
                <key>spriteSourceSize</key>
                <string>{550,240}</string>
                <key>textureRect</key>
                <string>{{550,720},{550,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>liandui14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{550,240}</string>
                <key>spriteSourceSize</key>
                <string>{550,240}</string>
                <key>textureRect</key>
                <string>{{1100,720},{550,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>liandui15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{550,240}</string>
                <key>spriteSourceSize</key>
                <string>{550,240}</string>
                <key>textureRect</key>
                <string>{{0,960},{550,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>liandui16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{550,240}</string>
                <key>spriteSourceSize</key>
                <string>{550,240}</string>
                <key>textureRect</key>
                <string>{{550,960},{550,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>liandui17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{550,240}</string>
                <key>spriteSourceSize</key>
                <string>{550,240}</string>
                <key>textureRect</key>
                <string>{{1100,960},{550,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>liandui18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{550,240}</string>
                <key>spriteSourceSize</key>
                <string>{550,240}</string>
                <key>textureRect</key>
                <string>{{0,1200},{550,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>liandui2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{550,240}</string>
                <key>spriteSourceSize</key>
                <string>{550,240}</string>
                <key>textureRect</key>
                <string>{{550,0},{550,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>liandui3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{550,240}</string>
                <key>spriteSourceSize</key>
                <string>{550,240}</string>
                <key>textureRect</key>
                <string>{{1100,0},{550,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>liandui4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{550,240}</string>
                <key>spriteSourceSize</key>
                <string>{550,240}</string>
                <key>textureRect</key>
                <string>{{0,240},{550,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>liandui5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{550,240}</string>
                <key>spriteSourceSize</key>
                <string>{550,240}</string>
                <key>textureRect</key>
                <string>{{550,240},{550,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>liandui6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{550,240}</string>
                <key>spriteSourceSize</key>
                <string>{550,240}</string>
                <key>textureRect</key>
                <string>{{1100,240},{550,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>liandui7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{550,240}</string>
                <key>spriteSourceSize</key>
                <string>{550,240}</string>
                <key>textureRect</key>
                <string>{{0,480},{550,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>liandui.png</string>
            <key>size</key>
            <string>{1650,1440}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f6079c41d885aadc5d31fabbd84c86ab:8fae3eebbc8015cb6ea854c0da4d062f:35c90dba6498a54a79ac95266f5cc198$</string>
            <key>textureFileName</key>
            <string>liandui.png</string>
        </dict>
    </dict>
</plist>
