<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>shunzi1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{600,150}</string>
                <key>spriteSourceSize</key>
                <string>{600,150}</string>
                <key>textureRect</key>
                <string>{{0,0},{600,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shunzi10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{600,150}</string>
                <key>spriteSourceSize</key>
                <string>{600,150}</string>
                <key>textureRect</key>
                <string>{{600,300},{600,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shunzi11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{600,150}</string>
                <key>spriteSourceSize</key>
                <string>{600,150}</string>
                <key>textureRect</key>
                <string>{{1200,300},{600,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shunzi12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{600,150}</string>
                <key>spriteSourceSize</key>
                <string>{600,150}</string>
                <key>textureRect</key>
                <string>{{0,450},{600,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shunzi13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{600,150}</string>
                <key>spriteSourceSize</key>
                <string>{600,150}</string>
                <key>textureRect</key>
                <string>{{600,450},{600,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shunzi14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{600,150}</string>
                <key>spriteSourceSize</key>
                <string>{600,150}</string>
                <key>textureRect</key>
                <string>{{1200,450},{600,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shunzi15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{600,150}</string>
                <key>spriteSourceSize</key>
                <string>{600,150}</string>
                <key>textureRect</key>
                <string>{{0,600},{600,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shunzi16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{600,150}</string>
                <key>spriteSourceSize</key>
                <string>{600,150}</string>
                <key>textureRect</key>
                <string>{{600,600},{600,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shunzi17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{600,150}</string>
                <key>spriteSourceSize</key>
                <string>{600,150}</string>
                <key>textureRect</key>
                <string>{{1200,600},{600,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shunzi18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{600,150}</string>
                <key>spriteSourceSize</key>
                <string>{600,150}</string>
                <key>textureRect</key>
                <string>{{0,750},{600,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shunzi19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{600,150}</string>
                <key>spriteSourceSize</key>
                <string>{600,150}</string>
                <key>textureRect</key>
                <string>{{600,750},{600,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shunzi2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{600,150}</string>
                <key>spriteSourceSize</key>
                <string>{600,150}</string>
                <key>textureRect</key>
                <string>{{600,0},{600,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shunzi20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{600,150}</string>
                <key>spriteSourceSize</key>
                <string>{600,150}</string>
                <key>textureRect</key>
                <string>{{1200,750},{600,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shunzi21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{600,150}</string>
                <key>spriteSourceSize</key>
                <string>{600,150}</string>
                <key>textureRect</key>
                <string>{{0,900},{600,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shunzi22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{600,150}</string>
                <key>spriteSourceSize</key>
                <string>{600,150}</string>
                <key>textureRect</key>
                <string>{{600,900},{600,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shunzi23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{600,150}</string>
                <key>spriteSourceSize</key>
                <string>{600,150}</string>
                <key>textureRect</key>
                <string>{{1200,900},{600,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shunzi24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{600,150}</string>
                <key>spriteSourceSize</key>
                <string>{600,150}</string>
                <key>textureRect</key>
                <string>{{0,1050},{600,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shunzi25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{600,150}</string>
                <key>spriteSourceSize</key>
                <string>{600,150}</string>
                <key>textureRect</key>
                <string>{{600,1050},{600,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shunzi26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{600,150}</string>
                <key>spriteSourceSize</key>
                <string>{600,150}</string>
                <key>textureRect</key>
                <string>{{1200,1050},{600,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shunzi27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{600,150}</string>
                <key>spriteSourceSize</key>
                <string>{600,150}</string>
                <key>textureRect</key>
                <string>{{0,1200},{600,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shunzi3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{600,150}</string>
                <key>spriteSourceSize</key>
                <string>{600,150}</string>
                <key>textureRect</key>
                <string>{{1200,0},{600,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shunzi4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{600,150}</string>
                <key>spriteSourceSize</key>
                <string>{600,150}</string>
                <key>textureRect</key>
                <string>{{0,150},{600,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shunzi5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{600,150}</string>
                <key>spriteSourceSize</key>
                <string>{600,150}</string>
                <key>textureRect</key>
                <string>{{600,150},{600,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shunzi6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{600,150}</string>
                <key>spriteSourceSize</key>
                <string>{600,150}</string>
                <key>textureRect</key>
                <string>{{1200,150},{600,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shunzi9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{600,150}</string>
                <key>spriteSourceSize</key>
                <string>{600,150}</string>
                <key>textureRect</key>
                <string>{{0,300},{600,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>shunzi.png</string>
            <key>size</key>
            <string>{1800,1350}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a710cd12c17113959a8d67535d516999:5fc2e1db67c108ae3fe6a172e7227436:c503f2b24dc0494d86be8fcf3d10ea42$</string>
            <key>textureFileName</key>
            <string>shunzi.png</string>
        </dict>
    </dict>
</plist>
