<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>zhadan1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{450,400}</string>
                <key>spriteSourceSize</key>
                <string>{450,400}</string>
                <key>textureRect</key>
                <string>{{0,0},{450,400}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhadan10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{450,400}</string>
                <key>spriteSourceSize</key>
                <string>{450,400}</string>
                <key>textureRect</key>
                <string>{{450,800},{450,400}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhadan11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{450,400}</string>
                <key>spriteSourceSize</key>
                <string>{450,400}</string>
                <key>textureRect</key>
                <string>{{900,800},{450,400}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhadan12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{450,400}</string>
                <key>spriteSourceSize</key>
                <string>{450,400}</string>
                <key>textureRect</key>
                <string>{{1350,800},{450,400}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhadan13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{450,400}</string>
                <key>spriteSourceSize</key>
                <string>{450,400}</string>
                <key>textureRect</key>
                <string>{{0,1200},{450,400}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhadan14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{450,400}</string>
                <key>spriteSourceSize</key>
                <string>{450,400}</string>
                <key>textureRect</key>
                <string>{{450,1200},{450,400}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhadan15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{450,400}</string>
                <key>spriteSourceSize</key>
                <string>{450,400}</string>
                <key>textureRect</key>
                <string>{{900,1200},{450,400}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhadan16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{450,400}</string>
                <key>spriteSourceSize</key>
                <string>{450,400}</string>
                <key>textureRect</key>
                <string>{{1350,1200},{450,400}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhadan2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{450,400}</string>
                <key>spriteSourceSize</key>
                <string>{450,400}</string>
                <key>textureRect</key>
                <string>{{450,0},{450,400}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhadan3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{450,400}</string>
                <key>spriteSourceSize</key>
                <string>{450,400}</string>
                <key>textureRect</key>
                <string>{{900,0},{450,400}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhadan4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{450,400}</string>
                <key>spriteSourceSize</key>
                <string>{450,400}</string>
                <key>textureRect</key>
                <string>{{1350,0},{450,400}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhadan5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{450,400}</string>
                <key>spriteSourceSize</key>
                <string>{450,400}</string>
                <key>textureRect</key>
                <string>{{0,400},{450,400}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhadan6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{450,400}</string>
                <key>spriteSourceSize</key>
                <string>{450,400}</string>
                <key>textureRect</key>
                <string>{{450,400},{450,400}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhadan7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{450,400}</string>
                <key>spriteSourceSize</key>
                <string>{450,400}</string>
                <key>textureRect</key>
                <string>{{900,400},{450,400}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhadan8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{450,400}</string>
                <key>spriteSourceSize</key>
                <string>{450,400}</string>
                <key>textureRect</key>
                <string>{{1350,400},{450,400}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhadan9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{450,400}</string>
                <key>spriteSourceSize</key>
                <string>{450,400}</string>
                <key>textureRect</key>
                <string>{{0,800},{450,400}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>zhadan.png</string>
            <key>size</key>
            <string>{1800,1600}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:78395e870d8910db5bfc52b167651ecb:edbefeb65d85f057eb049240449f9fc5:08749fba190e762c7a6f5be66bf7336a$</string>
            <key>textureFileName</key>
            <string>zhadan.png</string>
        </dict>
    </dict>
</plist>
