<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>10-hei.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,77}</string>
                <key>spriteSourceSize</key>
                <string>{47,77}</string>
                <key>textureRect</key>
                <string>{{649,2},{47,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10-hong.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,77}</string>
                <key>spriteSourceSize</key>
                <string>{47,77}</string>
                <key>textureRect</key>
                <string>{{547,2},{47,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2-hei.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,77}</string>
                <key>spriteSourceSize</key>
                <string>{44,77}</string>
                <key>textureRect</key>
                <string>{{50,2},{44,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2-hong.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,77}</string>
                <key>spriteSourceSize</key>
                <string>{44,77}</string>
                <key>textureRect</key>
                <string>{{2,2},{44,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3-hei.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,77}</string>
                <key>spriteSourceSize</key>
                <string>{50,77}</string>
                <key>textureRect</key>
                <string>{{162,83},{50,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3-hong.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,77}</string>
                <key>spriteSourceSize</key>
                <string>{50,77}</string>
                <key>textureRect</key>
                <string>{{216,83},{50,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4-hei.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,77}</string>
                <key>spriteSourceSize</key>
                <string>{45,77}</string>
                <key>textureRect</key>
                <string>{{245,2},{45,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4-hong.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,77}</string>
                <key>spriteSourceSize</key>
                <string>{45,77}</string>
                <key>textureRect</key>
                <string>{{196,2},{45,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5-hei.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,77}</string>
                <key>spriteSourceSize</key>
                <string>{47,77}</string>
                <key>textureRect</key>
                <string>{{496,2},{47,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5-hong.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,77}</string>
                <key>spriteSourceSize</key>
                <string>{47,77}</string>
                <key>textureRect</key>
                <string>{{598,2},{47,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6-hei.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,77}</string>
                <key>spriteSourceSize</key>
                <string>{47,77}</string>
                <key>textureRect</key>
                <string>{{445,2},{47,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6-hong.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,77}</string>
                <key>spriteSourceSize</key>
                <string>{47,77}</string>
                <key>textureRect</key>
                <string>{{394,2},{47,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>7-hei.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,77}</string>
                <key>spriteSourceSize</key>
                <string>{45,77}</string>
                <key>textureRect</key>
                <string>{{147,2},{45,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>7-hong.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,77}</string>
                <key>spriteSourceSize</key>
                <string>{45,77}</string>
                <key>textureRect</key>
                <string>{{98,2},{45,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>8-hei.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,77}</string>
                <key>spriteSourceSize</key>
                <string>{50,77}</string>
                <key>textureRect</key>
                <string>{{54,83},{50,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>8-hong.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,77}</string>
                <key>spriteSourceSize</key>
                <string>{50,77}</string>
                <key>textureRect</key>
                <string>{{108,83},{50,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>9-hei.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,77}</string>
                <key>spriteSourceSize</key>
                <string>{48,77}</string>
                <key>textureRect</key>
                <string>{{2,83},{48,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>9-hong.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,77}</string>
                <key>spriteSourceSize</key>
                <string>{48,77}</string>
                <key>textureRect</key>
                <string>{{908,2},{48,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>A-hei.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,77}</string>
                <key>spriteSourceSize</key>
                <string>{51,77}</string>
                <key>textureRect</key>
                <string>{{270,83},{51,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>A-hong.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,77}</string>
                <key>spriteSourceSize</key>
                <string>{51,77}</string>
                <key>textureRect</key>
                <string>{{325,83},{51,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>J-hei.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,76}</string>
                <key>spriteSourceSize</key>
                <string>{46,76}</string>
                <key>textureRect</key>
                <string>{{294,2},{46,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>J-hong.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,76}</string>
                <key>spriteSourceSize</key>
                <string>{46,76}</string>
                <key>textureRect</key>
                <string>{{344,2},{46,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>K-hei.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,77}</string>
                <key>spriteSourceSize</key>
                <string>{48,77}</string>
                <key>textureRect</key>
                <string>{{804,2},{48,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>K-hong.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,77}</string>
                <key>spriteSourceSize</key>
                <string>{48,77}</string>
                <key>textureRect</key>
                <string>{{856,2},{48,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Q-hei.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,76}</string>
                <key>spriteSourceSize</key>
                <string>{48,76}</string>
                <key>textureRect</key>
                <string>{{700,2},{48,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Q-hong.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,76}</string>
                <key>spriteSourceSize</key>
                <string>{48,76}</string>
                <key>textureRect</key>
                <string>{{752,2},{48,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dabeimian.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{879,610}</string>
                <key>spriteSourceSize</key>
                <string>{879,610}</string>
                <key>textureRect</key>
                <string>{{2,973},{879,610}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dapaimian.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{879,610}</string>
                <key>spriteSourceSize</key>
                <string>{879,610}</string>
                <key>textureRect</key>
                <string>{{2,359},{879,610}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dht.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,120}</string>
                <key>spriteSourceSize</key>
                <string>{90,120}</string>
                <key>textureRect</key>
                <string>{{418,186},{90,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fangkuai.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,125}</string>
                <key>spriteSourceSize</key>
                <string>{95,125}</string>
                <key>textureRect</key>
                <string>{{512,186},{95,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fkj.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,97}</string>
                <key>spriteSourceSize</key>
                <string>{67,97}</string>
                <key>textureRect</key>
                <string>{{451,83},{67,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fkk.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,99}</string>
                <key>spriteSourceSize</key>
                <string>{70,99}</string>
                <key>textureRect</key>
                <string>{{522,83},{70,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fkq.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,96}</string>
                <key>spriteSourceSize</key>
                <string>{78,96}</string>
                <key>textureRect</key>
                <string>{{244,186},{78,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hongtj.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,99}</string>
                <key>spriteSourceSize</key>
                <string>{70,99}</string>
                <key>textureRect</key>
                <string>{{596,83},{70,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hongtk.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,99}</string>
                <key>spriteSourceSize</key>
                <string>{70,99}</string>
                <key>textureRect</key>
                <string>{{670,83},{70,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hongtq.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,100}</string>
                <key>spriteSourceSize</key>
                <string>{78,100}</string>
                <key>textureRect</key>
                <string>{{162,186},{78,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ht.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,107}</string>
                <key>spriteSourceSize</key>
                <string>{88,107}</string>
                <key>textureRect</key>
                <string>{{326,186},{88,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>htj.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,99}</string>
                <key>spriteSourceSize</key>
                <string>{71,99}</string>
                <key>textureRect</key>
                <string>{{818,83},{71,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>htk.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,96}</string>
                <key>spriteSourceSize</key>
                <string>{70,96}</string>
                <key>textureRect</key>
                <string>{{744,83},{70,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>htq.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,97}</string>
                <key>spriteSourceSize</key>
                <string>{76,97}</string>
                <key>textureRect</key>
                <string>{{2,186},{76,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mehQ.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,98}</string>
                <key>spriteSourceSize</key>
                <string>{76,98}</string>
                <key>textureRect</key>
                <string>{{82,186},{76,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>meihua.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,114}</string>
                <key>spriteSourceSize</key>
                <string>{105,114}</string>
                <key>textureRect</key>
                <string>{{611,186},{105,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mhJ.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,98}</string>
                <key>spriteSourceSize</key>
                <string>{67,98}</string>
                <key>textureRect</key>
                <string>{{380,83},{67,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mhK.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,98}</string>
                <key>spriteSourceSize</key>
                <string>{72,98}</string>
                <key>textureRect</key>
                <string>{{893,83},{72,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>paimian.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,169}</string>
                <key>spriteSourceSize</key>
                <string>{116,169}</string>
                <key>textureRect</key>
                <string>{{720,186},{116,169}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiaobeimian.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,169}</string>
                <key>spriteSourceSize</key>
                <string>{116,169}</string>
                <key>textureRect</key>
                <string>{{840,186},{116,169}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>poker.png</string>
            <key>size</key>
            <string>{967,1585}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:899ed71a8454b17b00ad805341c248ca:aae93be53dfd280291d4018f26f652f2:7091b912c8b6d40e279854fb79f668a3$</string>
            <key>textureFileName</key>
            <string>poker.png</string>
        </dict>
    </dict>
</plist>
